{% extends "base.html.j2" %}
{% block title %}Manage{% endblock %}
{% block content %}
    {% for family in families %}
    <h1>Family {{ family.name }}</h1>
    <div>
        <ul>
            {% for user, label in family.labelled_users %}
            <li>
                {{ label }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}
